<html lang="en" xmlns:th="http://www.thymeleaf.org">
</head>
<title> Show Files </title>
<body>
<div class="container">
 <div th:insert="fragments/commonui :: userheader"></div>
		<div th:insert="fragments/commonui :: usermenu"></div>

<table class="table">
	<tr>
		<th>ID</th>
		<th>FILE NAME</th>
		<th>LINK</th>
	</tr>
	<tr th:each="ob:${list}">
		<th th:text="${ob[0]}"></th>
		<th th:text="${ob[1]}"></th>
		<th><a th:href="@{/doc/download(id=${ob[0]})}">DOWNLOAD</a></th>
	</tr>
</table>
</div>
</body>
</html>