<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Shipment Type Form</title>
    <body>
        <div class="container">
         <div th:insert="fragments/commonui :: userheader"></div>
		<div th:insert="fragments/commonui :: usermenu"></div>
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h2>UOM TYPE</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/uom/updateUom}" th:object="${uom}" method="POST">
                        <div class="row">
                            <div class="col-3">
                                <label for="id">ID</label>
                            </div>
                            <div class="col-4">
                               <input type="text" name="id" th:field="*{id}"
								class="form-control" readOnly />
                            </div>
                            <div class="col-5">
                                <span id="uomIdError"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="uomModel">UOM TYPE</label>
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{uomType}"
								class="form-control" />
                            </div>
                            <div class="col-5">
                                <span id="uomModelError"> </span>
                            </div>
                        </div>
                           <div class="row">
                            <div class="col-3">
                                <label for="uomModel">UOM MODEL</label>
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{uomModel}"
								class="form-control" />
                            </div>
                            <div class="col-5">
                                <span id="uomModelError"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="uomDescription">Description</label>
                            </div>
                            <div class="col-4">
                                <input type="text" th:field="*{uomDescription}"
								class="form-control" />
                            </div>
                            <div class="col-5">
                                <span id="uomDescriptionError"> </span>
                            </div>
                        </div>
                        </br>
                        <input type="submit" value="Update UOM" class="btn btn-primary"/>
                        <a href="/uom/alluom" class="btn btn-info">View All UOM</a>
                    </form>
                </div>
                <div class="card-footer bg-info text-center ">
                    <span class="text-white" th:text="${message}"></span>
            </div>
            </div>
            
            
        </div>

    </body>
</html>