<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
</head>
<title>Part</title>
</head>
<body>
		<div class="container">
		 <div th:insert="fragments/commonui :: userheader"></div>
		<div th:insert="fragments/commonui :: usermenu"></div>
		<div class="card">

			<div class="card-header bg-primary text-white text-center">
				<h3>PART REGISTER PAGE</h3>
			</div>

			<div class="card-body">
				<form id="orderMethodForm" th:action="@{/part/savePart}" method="post">
					<!-- row#1 -->
					<div class="row">
						<div class="col-3">
							<label>Part Code</label>
						</div>
						<div class="col-4">
							<input type="text" id="partCode" name="partCode" class="form-control" />
						</div>
						<div class="col-5">
							<span id="partCodeError"></span>
						</div>
					</div>
					</br>
					
					
					<div class="row">
						<div class="col-3">
							<label>Part Diamensions </label> 
						</div>
						<div class="col-2">
							W: <input type="text" id="partWidth" name="partWidth" class="form-control" placeholder="Width" aria-label="Width" />
						</div>
						<div class="col-2">
							L: <input type="text" id="partLegth" name="partLegth" class="form-control" placeholder="Length" aria-label="Length" />
						</div>
						<div class="col-2">
							H :<input type="text" id="partHeigth" name="partHeigth" class="form-control" placeholder="Heigth" aria-label="Heigth" />
						</div>
						<div class="col-5">
							<span id="orderModeError"></span>
						</div>
					</div>
					</br>
					<div class="row">
						<div class="col-3">
							<label>Cost</label>
						</div>
						<div class="col-4">
							<input type="text" id="partCost" name="partCost" class="form-control" />
						</div>
						<div class="col-5">
							<span id="partCostError"></span>
						</div>
					</div>
					</br>
					<div class="row">
						<div class="col-3">
							<label>Currency</label>
						</div>
						<div class="col-4">
							<input type="text" id="partCurrency" name="partCurrency" class="form-control" />
						</div>
						<div class="col-5">
							<span id="partCurrencyError"></span>
						</div>
					</div>
					</br>
					 <div class="row">
                            <div class="col-3">
                                <label for="uom">UOM</label>
                            </div>
                            <div class="col-4">
                                <select name="uom.id" id="uom" class="form-control">
                                   <option th:each="ob:${uom}"
							            th:text="${ob.value}"
								    th:value="${ob.key}"/>
                                </select>
                            </div>
                            <div class="col-5">
                                <span id="uomError"> </span>
                            </div>
                        </div>
					</br>
					
					 <div class="row">
                            <div class="col-3">
                                <label for="omSale">Order Method Code</label>
                            </div>
                            <div class="col-4">
                                <select name="omSale.id" id="omSale" class="form-control">
                                   <option th:each="ob:${order}"
							            th:text="${ob.value}"
								    th:value="${ob.key}"/>
                                </select>
                            </div>
                            <div class="col-5">
                                <span id="omSaleError"> </span>
                            </div>
                        </div>
					</br>
					
					<div class="row">
						<div class="col-3">
							<label>Description</label>
						</div>
						<div class="col-4">
							<input type="text" id="partDesc" name="partDesc" class="form-control" />
						</div>
						<div class="col-5">
							<span id="partDescError"></span>
						</div>
					</div>
					</br>

					<input type="submit" value="Add Part" class="btn btn-success"/>
				</form>
			</div>
			<!-- Card Body end -->

			<div class="card-footer alert alert-success" th:if="${message!=null}">
				<span th:text="${message}"></span>
			</div>

		</div>
		<!-- card end -->
	</div>
	
	
</body>
</html>