<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
</head>
<title>Part</title>
</head>
<body>
		<div class="container">
		 <div th:insert="fragments/commonui :: userheader"></div>
		<div th:insert="fragments/commonui :: usermenu"></div>
		
		<div class="card">

			<div class="card-header bg-primary text-white text-center">
				<h3>WELCOME TO ORDER METHOD DATA PAGE</h3>
			</div>

			<div class="card-body">
			<a th:href="@{/part/excel}" class="btn btn-info">Excel Export</a> |
			<a th:href="@{/part/pdf}" class="btn btn-info">PDF Export</a>  
				<table class="table table-hover">
					<tr class="bg-success text-white">
						<th>ID</th>
						<th>CODE</th>
						<th>DIMENSIONS</th>
						<th>COST</th>
						<th>CURRENCY</th>
						<th>UOM</th>
						<th>SALE(OM)</th>
						<th>DESCRIPTION</th>
						<th>OPERATION</th>
					</tr>
				
					<tr th:each="ob:${list}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.partCode}"></td>
						<td>
							W:<span th:text="${ob.partWidth}"></span>,
							L:<span th:text="${ob.partLegth}"></span>,
							H:<span th:text="${ob.partHeigth}"></span>
						</td>
						<td th:text="${ob.partCost}"></td>
						<td th:text="${ob.partCurrency}"></td>
						<td th:text="${ob.uom.uomModel}"></td>
						<td th:text="${ob.omSale.orderCode}"></td>
						<td th:text="${ob.partDesc}"></td>
						<td>
							<a th:href="@{/part/delete(id=${ob.id})}" title="remove" class="btn btn-danger"> DELETE </a>
							|
							<a th:href="@{/part/edit(id=${ob.id})}"  class="btn btn-warning"> EDIT </a>
							|
							<a th:href="@{/part/excelone(id=${ob.id})}"  class="btn btn-info"> EXCEL </a>
						</td>
					</tr>
				</table>

			</div>
			
			<div class="card-footer alert alert-success" th:if="${message!=null}">
				<span th:text="${message}"></span>
			</div>

		</div>
		
		
		</div>
</body>
</html>