<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shipment Type List</title>
</head>
<body>
	<div class="container">
	 <div th:insert="fragments/commonui :: userheader"></div>
		<div th:insert="fragments/commonui :: usermenu"></div>
		<div class="card">
			<div class="card-header">
				<h3>ShipmentType List</h3>
			</div>
			<div class="card-body">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Shipment Mode</th>
							<th scope="col">Shipment Code</th>
							<th scope="col">Shipment Enable</th>
							<th scope="col">Shipment Grade</th>
							<th scope="col">Description</th>
							<th scope="col">Edit</th>
							<th scope="col">Delete</th>
						</tr>
					</thead>
					<tbody>
					
					</tbody>
					<tbody>
						<tr th:if="${shipmenttypelist.empty}">
							<td colspan="12">No Shipments Available</td>
						</tr>
						<tr th:each="list:${shipmenttypelist}">
							<td scope="row"><span th:text="${list.id}">ID</span></td>
							<td scope="row"><span th:text="${list.shipmentMode}">Shipment
									Code</span></td>
							<td scope="row"><span th:text="${list.shipmentCode}">Shipment
									Enable</span></td>
							<td scope="row"><span th:text="${list.enableShipment}">Description</span></td>
							<td scope="row"><span th:text="${list.shipmentGrade}">Description</span></td>
							<td scope="row"><span th:text="${list.shipmentDescription}">Description</span></td>
							<td scope="row"><a th:href="@{/st/editShipmentForm(id=${list.id})}"  class="btn btn-info">Edit</a></td>
							<td scope="row"><a th:href="@{/st/delete(id=${list.id})}" title="remove" class="btn btn-danger">Delete</a></td>
						</tr>
					</tbody>

				</table>
			</div>
			<div class="card-footer alert alert-success" th:if="${message!=null}">
			 <span th:text="${message}"></span>
			</div>
		</div>
	</div>
	<script type="text/javascript">
$(document).ready(function() {
	$('a[title="remove"]').click(function(){
		return confirm("Do You want to Delete Shipment Type?");
	});
});
</script>
</body>
</html>